@font-face {
    font-family: Atari;
    src: url(../fonts/codeman38_press-start-2p/PressStart2P.ttf);
}

*  { margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

body{
    background-color: #bbb;
    font-family: 'Atari', Fallback, Arial;
}
#canvas{
	display: block;
    background-color: #fff;
}